
<body>
    About me
    <aside class="profile-card">
        <header>
        <!-- here’s the avatar -->
        <a target="_blank" href="https://github.com/akama-hub/">
            <!-- <img src="http://lorempixel.com/150/150/people/" class="hoverZoomLink"> -->
        </a>
    
        <h1> Akama-hub </h1>
    
        </header>
    
        <!-- bit of a bio; who are you? -->
        <div class="profile-bio">
    

            <h1>My history</h1>
            
            <h3>2021/4 - 2023/3 大阪大学 大学院 情報科学研究科</h3> 
                <p> オンラインシューティングゲームにおけるネットワーク遅延に関する研究を行う</p>

            <h3>2023/4 - Panasonic 株式会社</h3> 
                <p> 組み込みファームウェア開発に携わる</p>

            <h3>2023/8 - Akama System</h3> 
                <p> 個人事業主（副業）として活動を開始 <br> Webアプリケーションのフロントエンド開発に携わる</p>

            <h1>My skills</h1>
                <li>
                    Python: 深層強化学習 (DQN) を使用した行動推定
                </li>
                <li>
                    Unity: 実験環境用のオンラインシューティングゲーム開発
                </li>
                <li>
                    C言語: 組み込みファームウェア開発
                </li>
                <li>
                    Angular: Webアプリケーションのフロントエンド開発
                </li>
        </div>
    
        <!-- <ul class="profile-social-links">
            <li>
                <a target="_blank" href="https://github.com/akama-hub/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    GitHub Home
                </a>
            </li>
        </ul> -->
    </aside>
</body>



