
.container {
    display: grid;
    width: 100vw;
    /* 比率で画面の分割を行う */
    grid-template-columns: 2fr 3fr 1fr; 
    /* grid-template-rows: 140px 500px 500px 120px; */
    grid-template-rows: 500px 500px 120px;
    /* block 要素の中央ぞろえ */
    margin: 0 auto;
    /* 縦方向のスペース　横方向のスペース */
    gap: 30px 20px;
}

.header {
    grid-column: 1 / 4;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.skill{
    display: grid;
    margin-top: 70px;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 170px 300px;
    gap: 30px 20px;
    grid-column: 1 / 4;
    font-size: 36px;
    text-align: center;
}

.skill .img {
    grid-column: 1 / 2;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1697275021816-42588f48ef7a?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=1887);
    background-position: center;
}

.skill .title {
    grid-column: 2 / 4;
    background-color: rgb(156, 154, 154);
    text-align: center;
}

.history{
    display: grid;
    margin-top: 70px;
    grid-template-columns: 2fr 3fr 2fr; 
    grid-template-rows: 170px 300px;
    gap: 30px 20px;
    grid-column: 1 / 4;
    font-size: 36px;
    text-align: center;
}

.history .title {
    grid-column: 1 / 3;
    background-color: rgb(156, 154, 154);
    text-align: center;
}

.history .img {
    grid-column: 3 / 4;
    /* background-size:contain; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1683438428979-0767c14c933c?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=1887);
    background-position: center;
}

.nav {
    grid-column: 1 / 2;
    background-color: #00ffff;
}

.main {
    grid-column: 2 / 3;
    background-color: #00ffff;
}

.aside {
    grid-column: 3 / 4;
    background-color: #00ffff;
}

.footer {
    margin-top: 70px;
    grid-column: 1 / 4;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
}