
<body>
    <div class="top-image-area">
        <!-- <img src="assets/figure/landscape.jpg" width="100%"> -->
        <div class="img">
            <div class="msg">Step by Step, <br>making Tomorrow's me</div>
        </div>
        <!-- <div class="msg">Step by Step, making Tomorrow's me</div> -->
    </div>

    <div class="title">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/figure/glass.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Hi there! Welcome to Akma-hub Git page.</h5>
                    </div>
                    <div class="describe">現在, c 言語を使って組み込みソフトウェアエンジニアの akama-hubです. 2023/8末- からWeb開発の勉強を開始し, 合同会社 VISION EYE に業務委託として参画しております. </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sub_title1">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1542744095-291d1f67b221?auto=format&fit=crop&q=80&w=1170&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">My Skill</h5>
                <p class="card-text">使用できるプログラミング言語やフレームワークは以下の通りとなっています.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Python
                    <div class="describe">DQN を使った行動予測に関する研究で使用</div>
                </li>
                <li class="list-group-item">C言語
                    <div class="describe">家電製品の組み込みファームウェア開発で使用</div>
                </li>
                <li class="list-group-item">Angular
                    <div class="describe">Web開発のフロントエンドフレームワークとして使用</div>
                </li>
                <li class="list-group-item">Firebase
                    <div class="describe">Web開発のバックエンドフレームワークとして使用</div>
                </li>
                <li class="list-group-item">Bootstrap
                    <div class="describe">Web開発のデザインフレームワークとして使用</div>
                </li>
                <li class="list-group-item">Unity
                    <div class="describe">研究で使用する用のオンラインFPSゲーム開発にて使用</div>
                </li>
            </ul>
            <div class="card-body">
            <a href="#" class="card-link">More Info.</a>
            </div>
        </div>
    </div>

    <div class="sub_title2">
        <div class="card" >
            <img src="https://images.unsplash.com/photo-1491841651911-c44c30c34548?auto=format&fit=crop&q=80&w=1170&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">My history</h5>
                <p class="card-text">経歴は以下の通りとなっています. Web 開発の勉強は 8 月末から始め, 平日の仕事終わりと休日にやっています.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">2021/4 - 2023/3
                    <div class="describe">大阪大学 大学院 情報科学研究科 情報ネットワーク学専攻</div>
                </li>
                <li class="list-group-item">2023/4 - 
                    <div class="describe">Panasonic 株式会社</div>
                </li>
                <li class="list-group-item">2023/8 - 
                    <div class="describe">個人事業主（副業）として活動を開始</div>
                </li>
            </ul>
            <div class="card-body">
            <a href="#" class="card-link">More Info.</a>
            </div>
        </div>
    </div>

    
    
    <!-- <div class="second-image-area">
        <img src="assets/figure/glass.jpg" width="100%">
    </div>

    <div class="profile">
        <h2> 1. My skills</h2>
            <li>
                Python: 深層強化学習 (DQN) を使用した行動推定
            </li>
            <li>
                Unity: 実験環境用のオンラインシューティングゲーム開発
            </li>
            <li>
                C言語: 組み込みファームウェア開発
            </li>
            <li>
                Angular: Webアプリケーションのフロントエンド開発
            </li>

        <h2> 2. My history</h2>
                
        <h3>2021/4 - 2023/3 大阪大学 大学院 情報科学研究科</h3> 
            <p> オンラインシューティングゲームにおけるネットワーク遅延に関する研究を行う</p>

        <h3>2023/4 - Panasonic 株式会社</h3> 
            <p> 組み込みファームウェア開発に携わる</p>

        <h3>2023/8 - Akama System</h3> 
            <p> 個人事業主（副業）として活動を開始 <br> Webアプリケーションのフロントエンド開発に携わる</p>

    </div>

    <a target="_blank" href="https://github.com/akama-hub/">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
        GitHub Home
    </a> -->

</body>